.bid-detail-page {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .details-container {
    background-color: hsl(0, 0%, 96%);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-details img {
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .bid-button {
    background-color: rgb(67, 67, 220) ;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .bid-button:hover {
    background-color: #3e8e41;
  }