.navbar {
    background-color: #F8F8FF;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left:  2rem;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .nav-link:hover {
    color: #666;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0069d9;
  }